@charset "utf-8";
/* CSS Document */
em{ font-style:normal; }
input,textarea{ margin:0; padding:0; outline:none; border:none; }
textarea{ resize:none; overflow:auto; }
ul{ margin:0; padding:0; list-style:none; }
h1,p,h2{ margin:0; font-weight:normal; }
a,input{ -webkit-tap-highlight-color:rgba(255,0,0,0); }
img{ border:none; vertical-align:top; }
body{ margin:0; font-family:Arial,"微软雅黑"; position:relative; color:#666; }
.page{ height:100%; width:100%; position:absolute; top:0; left:0; overflow:hidden; background-color:#fff; font-size:26px; z-index:1; display:none; }
.pageShow{ display:block; }
.page:nth-of-type(1){ z-index:10; }
.page:nth-of-type(2){ z-index:9; }
.page:nth-of-type(3){ z-index:8; }
.page:nth-of-type(4){ z-index:7; }
.page:nth-of-type(5){ z-index:6; }
.btn{ width:606px; height:74px; position:absolute; bottom:17px; left:17px; font-size:30px; background:#cacaca; border-radius:5px; }
.submit{ background:#3c9bbb; color:#fff; }
.info{ line-height:60px; position:absolute; bottom:90px; width:100%; text-align:center; -webkit-transform-origin:bottom; -webkit-transform:scale(0); transform-origin:bottom; transform:scale(0); -webkit-transition:.5s; transition:.5s; opacity:0; }
.wrapScroll{ height:100%; position:relative; min-height:1136px; overflow:auto; }
/*#index:active .info{ -webkit-transform:scale(1); transform:scale(1); opacity:1; }*/

/* 入场动画 */
@-webkit-keyframes show
{
	100%
	{
		-webkit-transform:translateY(0px);
		opacity:1;
	}
	
}
@keyframes show
{
	100%
	{
		transform:translateY(0px);
		opacity:1;
	}
	
}
@-webkit-keyframes logo
{
	100%
	{
		opacity:1;
	}
	
}
@keyframes logo
{
	100%
	{
		opacity:1;
	}
	
}
@-webkit-keyframes shake
{
	0%
	{
		-webkit-transform:rotate(-50deg);
	}
	10%
	{
		-webkit-transform:rotate(45deg);
	}
	20%
	{
		-webkit-transform:rotate(-40deg);
	}
	30%
	{
		-webkit-transform:rotate(35deg);
	}
	40%
	{
		-webkit-transform:rotate(-30deg);
	}
	50%
	{
		-webkit-transform:rotate(25deg);
	}
	60%
	{
		-webkit-transform:rotate(-20deg);
	}
	70%
	{
		-webkit-transform:rotate(15deg);
	}
	80%
	{
		-webkit-transform:rotate(-10deg);
	}
	90%
	{
		-webkit-transform:rotate(5deg);
	}
	100%
	{
		-webkit-transform:rotate(0deg);
	}
	
}
@keyframes shake
{
	0%
	{
		transform:rotate(-50deg);
	}
	10%
	{
		transform:rotate(45deg);
	}
	20%
	{
		transform:rotate(-40deg);
	}
	30%
	{
		transform:rotate(35deg);
	}
	40%
	{
		transform:rotate(-30deg);
	}
	50%
	{
		transform:rotate(25deg);
	}
	60%
	{
		transform:rotate(-20deg);
	}
	70%
	{
		transform:rotate(15deg);
	}
	80%
	{
		transform:rotate(-10deg);
	}
	90%
	{
		transform:rotate(5deg);
	}
	100%
	{
		transform:rotate(0deg);
	}
	
}
@-webkit-keyframes cloud
{
	0%
	{
		-webkit-transform:translateX(0px);
	}
	100%
	{
		-webkit-transform:translateX(-50px);
	}
	
}
@keyframes cloud
{
	0%
	{
		transform:translateX(0px);
	}
	100%
	{
		transform:translateX(-50px);
	}
	
}
.tree{ width:100%; position:absolute; top:10%; left:0; -webkit-transform:translateY(100px); transform:translateY(100px); opacity:0; -webkit-animation:1s show; animation:1s show; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; }
#logo{ width:100%; position:absolute; left:0; bottom:52px; text-align:center; opacity:0; -webkit-animation:1s .8s logo; animation:1s .8s logo; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;  }
.title1{ position:relative; padding-top:50px; -webkit-transform:translateY(60px); transform:translateY(60px); opacity:0; -webkit-animation:1s .3s show; animation:1s .3s show; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; }
.shake{ width:28px; height:31px; background:url(../img/shake.png) no-repeat; position:absolute; left:509px; top:12px; -webkit-transform-origin:left bottom; transform-origin:left bottom; -webkit-animation:.8s 1s shake; animation:.8s 1s shake; }
.title2{ padding-top:20px; -webkit-transform:translateY(40px); transform:translateY(40px); opacity:0; -webkit-animation:1s .6s show; animation:1s .6s show; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; }
.cloud{ position:absolute; background:url(../img/cloud.png) no-repeat; background-size:contain; }
.cloud:nth-of-type(1){ top:15px; left:432px; width:58px; height:44px; -webkit-animation:3s 2s cloud infinite alternate linear; animation:3s 2s cloud infinite alternate linear; }
.cloud:nth-of-type(2){ top:77px; left:79px; width:91px; height:70px; -webkit-animation:3s 2.5s cloud infinite alternate linear; animation:3s 2.5s cloud infinite alternate linear; }
.cloud:nth-of-type(3){ top:142px; left:402px; width:54px; height:41px; -webkit-animation:3s 2.8s cloud infinite alternate linear; animation:3s 2.8s cloud infinite alternate linear; }
#welcome{ -webkit-transition:0.7s; transition:0.7s; }

/* 首页 */
@-webkit-keyframes newsBtn
{
	0%
	{
		-webkit-transform:scale(0);
		opacity:0.1;
	}
	100%
	{
		-webkit-transform:scale(1.4);
		opacity:1;
	}
}
@keyframes newsBtn
{
	0%
	{
		transform:scale(0);
		opacity:0.1;
	}
	100%
	{
		transform:scale(1.4);
		opacity:1;
	}
}
#index{ -webkit-transition:0.5s; transition:0.5s; }
#tabPic{ width:100%; position:relative; overflow:hidden; }
#picList{  width:500%; overflow:hidden; }
#picList li{ width:20%; float:left; }
#picList img{ width:100%; height:342px; }
.picMask{ position:absolute; bottom:0; left:0; height:102px; width:100%; background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0)); background:linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0)); }
.picMask p{ font-size:29px; line-height:120px; text-indent:26px; color:#fff; }
.picMask nav{ height:10px; position:absolute; top:56px; right:26px;}
.picMask nav a{ width:10px; height:10px; background:#fff; float:left; margin-left:15px; border-radius:5px; opacity:0.5; }
.picMask nav a.active{ opacity:1; }
#score{ line-height:60px; padding:17px 0 22px 26px; border-bottom:1px solid #666; }
#score h2{ font-size:28px; }
#score li{ height:60px; position:relative; }
#score nav{ position:absolute; left:187px; top:12px; }
#score nav a{ width:38px; height:36px; float:left; background:url(../img/star.png) no-repeat -38px; margin-right:39px; -webkit-transition:.4s; transition:.4s; }
#score nav a.active{ background-position:0 0; }

.tags{ padding:21px 0 0 26px; }
.tags h2{ line-height:54px; font-size:28px; }
.tags label{ line-height:50px; float:left; margin:10px 14px 10px 3px;}
.tags label input{ display:none; }
.tags label span{ float:left; border:1px solid #cdd6e1; padding:0 24px; border-radius:26px; }
.tags label input:checked+span{ border-color:#3c9bbb; background-color:#3c9bbb; color:#fff; }

#mask{ background:rgba(0,0,0,0.7) url(../img/mask.png) no-repeat center 300px; -webkit-transition:1s; transition:1s; opacity:0; }
.newsBtn{ width:78px; height:78px; position:absolute; top:20px; right:20px; }
.newsBtn em{ width:56px; height:56px; padding:11px; line-height:28px; font-size:22px; letter-spacing:2px; position:absolute; left:0; top:0; text-align:center; background:rgba(230,0,18,0.5); text-decoration:none; color:#fff; border-radius:39px; z-index:2; }
.newsBtn span{ width:78px; height:78px; position:absolute; top:0; left:0; background:rgba(230,0,18,0.2); border-radius:39px; opacity:0.1; -webkit-transform:scale(0); transform:scale(0); }
.newsBtn span:nth-of-type(1){ -webkit-animation:newsBtn 2s infinite alternate; animation:newsBtn 2s infinite alternate; }
.newsBtn span:nth-of-type(2){ -webkit-animation:newsBtn 2s .5s  infinite alternate; animation:newsBtn 2s infinite alternate; }
.newsBtn span:nth-of-type(3){ -webkit-animation:newsBtn 2s .8s infinite alternate; animation:newsBtn 2s infinite alternate; }

/* 新闻线索 */
#news{ background:#eee; opacity:0; }
#news h2{ padding:24px 0 0 34px; line-height:60px; font-size:26px; }
.file{ height:188px; background:#fff; }
.file label{ width:50%; height:100%; float:left; box-sizing:border-box; padding-top:100px; line-height:52px; text-align:center; }
.file label:nth-of-type(1){ border-right:1px solid #e5e5e5; background:url(../img/camera1.png) no-repeat center 30px; }
.file label:nth-of-type(2){ background:url(../img/camera1.png) no-repeat center 30px; }
.file input{ display:none; }

/* 表单 */
#form{ background:#eee; }
#formTags{ background:url(../img/formBg.png); height:341px; padding-top:52px; color:#fff; }
#formTags input:checke+span{ border:#fff; background-color:rgba(60,155,187,0.8); }
.formText{ box-sizing:border-box; width:100%; display:block; font-size:26px; line-height:50px; padding:10px 20px; margin-top:30px; }
